<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemIndex</key>
		<integer>0</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>订单</string>
		<key>isValue</key>
		<true/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>1</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>券码</string>
		<key>isValue</key>
		<true/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>2</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>统计</string>
		<key>isValue</key>
		<false/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>3</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>菜单</string>
		<key>isValue</key>
		<true/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>4</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>设置</string>
		<key>isValue</key>
		<true/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>5</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>帮助</string>
		<key>isValue</key>
		<true/>
	</dict>
	<dict>
		<key>ItemIndex</key>
		<integer>6</integer>
		<key>imagen</key>
		<string></string>
		<key>title</key>
		<string>门店</string>
		<key>isValue</key>
		<true/>
	</dict>
</array>
</plist>
